<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="YAS Android"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:largeHeap="true"
    android:theme="@style/Theme.k7yas">

    <activity android:name=".view.LoginView"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name=".view.PackView" />
    <activity android:name=".view.SendView" />
    <activity android:name=".view.SignView" />
    <activity android:name=".view.EncryptView" />
    <activity android:name=".view.DecryptView" />
    <activity android:name=".view.ConfigView" />
    <activity android:name=".view.InlineView" />

    <service
        android:name=".app.SvcYas"
        android:foregroundServiceType="dataSync"
        android:exported="false" />
</application>
</manifest>

<!--
    resource:
        res - new - image asset - add foreground, background image
        drawable - new - vector asset - search, add
    build:
        file - project structure - dependency - add org.bouncycastle:bcprov-jdk18on com.lambdapioneer.argon2kt:argon2kt
        build.gradle.kts - set version info
-->